$max-width-xs1: 300px;
$max-width-xs2: 320px;
$max-width-sm: 400px;
$max-width-md: 800px;
$nav-item-active-bgcolor: rgba(255, 255, 255, 0.15);
$nav-item-active-link-color: white !important;
$nav-item-active-link-font-size: 18px;
$nav-bg-color: #5153c9;
